* {
    margin:0;
    color:white;
}

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Keep the background fixed while scrolling */
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 45px;
}
.header-wrapper {
    display: flex;
    flex: 1 1;
    align-items: center;
    border-bottom: 2px solid rgb(41, 48, 58);
    
}


header h1 {
    display: flex;
    flex: 1 1;
    font-size: 50px;
    
}

a{
    text-decoration: none;
}


li{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    padding-right: 50px; 
    font-size: 30px; 
}

ul{
    display: flex;
    flex-wrap: nowrap;
}

.about-me {
    display: flex;
}

.about-me h2 {
    border-right: solid;
    white-space: nowrap;
    width:20%;
}

.about-me p{
    display: flex;

}

.contact-me {
    display: flex;  
    align-items: center;
}

.resume h2 {
    border-right: solid;
    white-space: nowrap;
    width: 20%;
}

.work {
    display: flex;
}

.work .work-card {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1;
    justify-content: center;
}

.work h2 {
    border-right: solid;
    white-space: nowrap;
    width: 20%;
}



.contact-me h2 {
    border-right: solid;
    white-space: nowrap;
    width: 20%;
}

.contact-me ul{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1;
    justify-content: center;

}


