* {
    margin:0;
    color:white;
}

body {
    background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Oswald', sans-serif;
}

.header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1;
    align-items: baseline;
    border-bottom: 2px solid rgb(41, 48, 58);
}

header h1 {
    display: flex;
    flex: 1 1;
    font-size: 50px;
    white-space: nowrap;
}

a{
    text-decoration: none;
}

li{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding-right: 50px; 
    font-size: 20px; 
    white-space: nowrap;
}

ul{
    display: flex;
}


.about-me {
    display: flex;
    flex-wrap: nowrap;
}
.about-me img{
    max-width: 240px;
    max-height: 240px;
    padding: 10px;
    flex: 0 0
}

.about-me p{
    flex: 1;
    margin-right: 40px;
}

.work {
    display: flex;
}

.work h2 {
    margin-right: 45px;
}

.big-card {
    display: flex;
    border: solid;
    background-image: url(/assets/images/pexels-dana-tentis-370799.jpg);
    background-repeat: no-repeat;
    background-image: cover;
    width: 400px;
    height: 300px;
    justify-content: center;
}




@media (max-width: 720px) {
    .header-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-me p{
        margin: 0 50px

    }    
}