* {
    margin:0;
    color:white;
}

body {
    background-image: url(/assets/images/solid-navy-blue-concrete-textured-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Keep the background fixed while scrolling */
    font-family: 'Oswald', sans-serif;
}

.header-wrapper {
    display: flex;
    flex: 1 1;
    align-items: center;
    
}

.logo img {
    height: 100px;
    padding: 10px 10px;
    
}

header h1 {
    display: flex;
    flex: 1 1;
    font-size: 50px;
}

a{
    text-decoration: none;
}


nav li{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    padding-right: 50px; 
    font-size: 30px; 
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
}

.about-me {
    display: flex;
    justify-content: left;
    align-items: center;
}

.about-me h2 {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 50px;

}

.about-me p {
    font-size: 30px;
    line-height: 35px;
}

.about-me img{
    max-width: 200px;
    max-height: 250px;
    padding: 20px;
}


.work {
    display: flex;
    flex: 1 1;
    border: 1px solid;
    margin: 10px;
}

.resume {
        display: flex;
        flex: 1 1;
        border: 1px solid;
        margin: 10px;
    }

.contact-me {
    display: flex;
        flex: 1 1;
        border: 1px solid;
        margin: 10px;
    }


.work h2 {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 50px;
}

.work-card {
    display: flex;
    border: 1px solid;
    padding: 3px;
    margin-right: auto;
}

.project {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: center;
    color: white;
}

.work-card p {
    text-align: center;
    color: white;
    height: 100px;
    width: 300px;
}

@media (width < 720px) {
    .about-me {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        margin: 10px;
    }

    .work {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        border: 1px solid;
        margin: 10px;
        justify-content: center;
    }

    .work-card{
        display: flex;
        flex: 1 1;
        justify-content: center;
    }
}